.App {
  text-align: center;
}
h1{
  font-size: 90px;
  margin-top: 20px;
}

button{
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  border: 0;
  transition: all 0.4s;
}

button:active{
  background: #ccc;
}
