.todoItem {
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    max-width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
}

.todoIcon {
    color: green;
    font-size: 20px;
}

.todoItemText {
    margin-left: 10px;
    color: #000;
}
