.App {
  text-align: center;
}
h1{
  font-size: 90px;
  margin-top: 20px;
}

button{
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  border: 0;
  transition: all 0.4s;
}

button:active{
  background: #ccc;
}

/*.active{
  color: lightgoldenrodyellow;
  text-decoration: none;
}*/
.activeLink{
  color: lightyellow;
  text-decoration: none;
}
a{
  color: lightblue;
  font-size: 35px;
}

nav {
  background: darkslategray;
  padding: 15px;
}
nav a{
  margin: 15px;
}
.courseLink{
  text-decoration: none;
  transition: all 0.4s;
  font-size: 25px;
}
.courseLink:hover{
  text-decoration: underline;
}
