.btn {
    padding:10px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
    border: 0;
    transition: all 0.4s;
    height: 50px;
}
.btn:hover{
    background: #a1966b;
    color: #ffffff;
}
